<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <div style="display: flex; justify-content: space-between; gap: 20px;">
      <img
        class="repo-img-light w-100"
        style="max-width: 100%;"
        alt="{{ include.username }}"
        src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&show_icons=true"
      >
      <img
        class="repo-img-light w-100"
        style="max-width: 100%;"
        height = "182em"
        alt="{{ include.username }}"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&size_weight=0.4&count_weight=0.6&custom_title=Most%20used%20languages&theme={{ site.repo_theme_light }}&layout=compact&langs_count=12&cache_seconds=1800&hide=jupyter%20notebook" 
      >
    </div>
    <div style="display: flex; justify-content: space-between; gap: 20px;">
      <img
        class="repo-img-dark w-100"
        style="max-width: 100%;"
        alt="{{ include.username }}"
        src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&show_icons=true"
      >
      <img
        class="repo-img-dark w-100"
        style="max-width: 100%;"
        height = "182em"
        alt="{{ include.username }}"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&size_weight=0.4&count_weight=0.6&custom_title=Most%20used%20languages&theme={{ site.repo_theme_dark }}&layout=compact&langs_count=12&cache_seconds=1800&hide=jupyter%20notebook" 
      >
    </div>
  </a>
</div>
